body, html {
    height: 100%;
    margin: 0;
    background-color: white;
  }
  
  .content {
    height: 100%;
    position: relative;
    color: white;
    font-size: 20px;
  }
  
  .topleft {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .contact {
    padding: 15px;
    margin: 30px auto;
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    color:#66B0BD
    
  }

  .contact a {
    text-decoration: none;
    color:#66B0BD
  }
  