body, html {
    height: 100%;
    
    margin: 0;
    background-color: white;
  }
  
  .content {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: white;
    font-size: 16px;
  }
  
  .topleft {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .contact {
    position: absolute;
    right: 15px;
    bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
  }

  .contact a {
    text-decoration: none;
    color:black;
  }
  